Repository LetrazApp/letraz-server, pull requests merged in 2025-07, with the labels that each got.

#68 LTB-59 | chore: readme file for letraz-server
  README.md
Labels: Core

#74 LTB-38 | api: Fetch all global categories for skills
  CORE/api_urls.py
  CORE/api_views.py
  RESUME/api_views.py
Labels: Logic, API

#75 LTB-34 | API: Functionality to re-arrange resume sections
  CORE/CORE.http
  RESUME/RESUME.http
  RESUME/api_views.py
  RESUME/serializers.py
  letraz_server/contrib/validator/environment_validator.py
  letraz_server/settings.py
  uv.lock
Labels: Logic, Feature, API

#88 LTB-56 | logic: create new customers in knock on user signup or new requests
  letraz_server/contrib/middlewares/clerk_middlewares.py
  letraz_server/contrib/sdks/clerk.py
  letraz_server/contrib/sdks/knock.py
  letraz_server/settings.py
  pyproject.toml
  uv.lock
Labels: Logic, Feature, Improvement

#93 LTB-63 | bug: Fix for calling a resume removes all its certification sections
  RESUME/api_views.py
Labels: bug

#98 LTB-65 | feat: waitlist management api for consumer admin panel
  .env.example
  CORE/CORE.http
  CORE/admin.py
  CORE/admin_api_urls.py
  CORE/admin_api_views.py
  CORE/api_views.py
  CORE/migrations/0002_waitlist_has_access.py
  CORE/models.py
  CORE/serializers.py
  letraz_server/admin_api_urls.py
  letraz_server/api_urls.py
  letraz_server/contrib/admin_auth.py
  letraz_server/contrib/constant.py
  letraz_server/contrib/middlewares/clerk_middlewares.py
  letraz_server/settings.py
  pyproject.toml
Labels: Logic, Feature, API

#99 LTB-52 | feat: configure Knock for triggering workflow and trigger first workflow
  CORE/admin_api_views.py
  letraz_server/contrib/sdks/knock.py
Labels: Logic, Feature

#104 LTB-68 | chore: Properly format the Dockerfile with spacings and comments
  Dockerfile
Labels: Core, Improvement

#106 LTB-69 | API: Admin API endpoint for querying any resume
  RESUME/RESUME.http
  RESUME/admin_api_urls.py
  RESUME/admin_api_views.py
  letraz_server/admin_api_urls.py
Labels: Logic, Feature, API

#110 LTB-72 | bug: Authentication in letraz-server failing with valid auth token for new users
  letraz_server/contrib/middlewares/clerk_middlewares.py
Labels: bug, Logic

#112 LTB-73 | bug: Authentication failing due to JWKS mismatch with Clerk
  letraz_server/contrib/middlewares/clerk_middlewares.py
  letraz_server/contrib/sdks/clerk.py
Labels: bug, Logic, API

#116 LTB-74 | core: Establish connection between letraz server and letraz
  CORE/api_views.py
  RESUME/api_urls.py
  RESUME/api_views.py
  docker.sh
  letraz_server/conf/grpc_client/__init__.py
  letraz_server/conf/grpc_client/client.py
  letraz_server/conf/grpc_client/utils/__init__.py
  letraz_server/conf/grpc_client/utils/letraz-utils.proto
  letraz_server/conf/grpc_client/utils/letraz_utils_pb2.py
  letraz_server/conf/grpc_client/utils/letraz_utils_pb2_grpc.py
  letraz_server/conf/grpc_client/utils/util_proto.cmd
  letraz_server/conf/grpc_client/utils/util_proto.sh
  letraz_server/settings.py
  letraz_server/urls.py
  pyproject.toml
  uv.lock
Labels: Logic, Feature, Core

#120 LTB-78 | logic: modify system logging and health check API to include unique event ID for better traceability
  CORE/api_views.py
  letraz_server/contrib/settings_logger.py
  letraz_server/settings.py
Labels: Logic, Core

#126 LTB-43 | api: POST API for crafting new resume
  CORE/admin.py
  CORE/migrations/0001_initial.py
  CORE/migrations/0002_waitlist_has_access.py
  CORE/models.py
  JOB/migrations/0001_initial.py
  JOB/models.py
  JOB/proto_serializers.py
  JOB/serializers.py
  PROFILE/migrations/0001_initial.py
  RESUME/api_urls.py
  RESUME/api_views.py
  RESUME/migrations/0001_initial.py
  RESUME/models.py
  RESUME/proto_serializers.py
  RESUME/serializers.py
  letraz_server/conf/grpc_client/utils/letraz-utils.proto
  letraz_server/conf/grpc_client/utils/letraz_utils_pb2.py
  letraz_server/conf/grpc_client/utils/letraz_utils_pb2_grpc.py
  letraz_server/contrib/constant.py
  pyproject.toml
  schema.yml
  uv.lock
Labels: Logic, Feature, Core, API

#128 LTB-84 | core: Configure gRPC server in letraz-server for receiving callback
  CORE/grpc/CORE.proto
  CORE/grpc/CORE_pb2.py
  CORE/grpc/CORE_pb2_grpc.py
  CORE/serializers.py
  CORE/services.py
  RESUME/api_views.py
  RESUME/proto_serializers.py
  letraz_server/handlers.py
  letraz_server/settings.py
  pyproject.toml
  uv.lock
Labels: Logic, Core
