Repository LetrazApp/letraz-server, pull requests merged in 2025-03, with the labels that each got.

#53 feat: add partial update functionality for education and experience in resumes
  RESUME/api_views.py
Labels: Logic, API

#59 LTB-33 | api: database schema and crud api for certifications table
  CORE/api_urls.py
  RESUME/admin.py
  RESUME/api_urls.py
  RESUME/api_views.py
  RESUME/migrations/0001_initial.py
  RESUME/models.py
  RESUME/serializers.py
Labels: bug, Logic, Feature, Core, API

#61 LTB-36 | fix: Project creation fails with error and HTTP status fix
  RESUME/api_views.py
  RESUME/serializers.py
Labels: bug, API
